// general HTML styles
html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100vh;
}

body {
  overflow-x: hidden;
  text-align: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: $text-color;
  background-color: $default-bg;
  position: relative;
  width: 100vw;
}

.unordered-list {
  max-width: 300px;
}

.metropolis-bold { @include metropolis(Bold); }
